@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(normalize.css);
* {
  box-sizing: border-box; }

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0; }

img {
  max-width: 100%; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

figure {
  margin: 0; }

h1, h2, h3, h4, h5, h6 i {
  color: white;
  text-shadow: 2px 2px 4px black; }

h1 {
  font-size: 45px; }

h2 {
  font-size: 35px;
  padding-bottom: 40px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 25px; }

p {
  color: white;
  line-height: 25px;
  text-shadow: 0 0 2px black; }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    color: rgba(255, 96, 19, 0.8); }

.container {
  max-width: 1200px;
  margin: auto; }

.cleaner {
  clear: both; }

.bg-top {
  background: url(../images/bg-01.jpg) center top no-repeat fixed;
  background-size: cover; }

.main-header {
  background-color: rgba(191, 191, 191, 0.2); }

.bg-nav-fondo {
  background-color: white;
  height: 40px;
  width: 100%;
  z-index: 50; }

.bg-nav {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 5px black;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 60; }

.top-nav {
  float: right;
  margin-top: 12px; }
  .top-nav li {
    float: left;
    padding: 0 0px;
    margin-right: 5px;
    border: none; }
    .top-nav li a {
      color: white;
      padding: 5px 10px; }
      .top-nav li a:hover {
        background-color: rgba(255, 96, 19, 0.8);
        transition: background-color 400ms;
        -webkit-transition: background-color 400ms; }

.top-left {
  float: left;
  padding: 100px 0;
  line-height: 15px;
  text-decoration: none; }
  .top-left h3 {
    text-indent: 50px; }
  .top-left a {
    margin: 10px; }
  .top-left li {
    float: right;
    padding-right: 20px; }

.top-right {
  float: right;
  margin: 100px 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px grey; }

.developer {
  color: rgba(255, 96, 19, 0.8);
  font-size: 60px;
  font-weight: 400;
  text-shadow: none; }

#sobre-mi {
  margin: auto;
  padding: 100px 0px; }
  #sobre-mi p {
    text-align: justify; }

.bg-center {
  background: url(../images/bg-02.jpg) center top no-repeat fixed;
  background-size: cover; }

#skills {
  background-color: rgba(191, 191, 191, 0.2);
  padding: 100px 0px;
  margin: auto; }
  #skills .logos {
    width: 25%;
    float: left;
    text-align: center; }

#educacion {
  padding: 100px 0px; }
  #educacion h4 {
    padding-left: 30px; }
  #educacion img {
    float: left;
    position: relative;
    top: 10px; }
  #educacion p {
    padding-left: 60px; }

.bg-bottom {
  background: url(../images/bg-03.jpg) center top no-repeat fixed;
  background-size: cover; }

#footer {
  background-color: rgba(191, 191, 191, 0.2);
  padding: 100px 0px; }

.formulario {
  width: 100%; }

#left {
  width: 50%;
  float: left; }
  #left input, #left textarea {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border: solid 1px grey;
    width: 95%;
    height: 70px;
    font-family: inherit;
    border-radius: 5px;
    padding-left: 10px; }

#right {
  width: 50%;
  float: left; }
  #right input, #right textarea {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    border: solid 1px grey;
    width: 95%;
    height: 70px;
    font-family: inherit;
    border-radius: 5px;
    padding-left: 10px; }
  #right textarea {
    height: 160px;
    padding-top: 25px; }

.formulario button {
  border: none;
  border-bottom: 4px solid rgba(255, 96, 19, 0.8) !important;
  display: block;
  margin: auto;
  border: none;
  background-color: #ff8533;
  width: 20%;
  height: 50px;
  color: white;
  font-family: inherit;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer; }
  .formulario button:hover {
    background-color: rgba(255, 96, 19, 0.8);
    transition: background-color 400ms;
    -webkit-transition: background-color 400ms; }

#footer a {
  display: inline-block;
  margin-left: 85%; }

/* RESPONSIVE */
@media (max-width: 1250px) {
  .container {
    width: 95%; } }
@media (max-width: 1000px) {
  #skills .logos {
    width: 50%;
    padding: 10px; } }
@media (max-width: 800px) {
  .top-right {
    display: none; } }
@media (max-width: 600px) {
  .top-nav li {
    font-size: 14px;
    padding: 0 0px;
    margin-right: 3px;
    margin-top: 1px; }

  #skills .logos {
    width: 100%; }

  .top-left, #sobre-mi, #skills, #educacion, #footer {
    padding: 50px 0px; }

  #left {
    float: none;
    width: auto; }

  #right {
    float: none;
    width: auto; } }
@media (max-width: 500px) {
  .top-nav li {
    margin-right: 1px; }
    .top-nav li a {
      padding: 0px 2px; }

  .top-left {
    float: none;
    text-align: center; }
    .top-left hr {
      width: 90%; }
    .top-left h3 {
      text-indent: 0;
      font-size: 20px; }

  h1 {
    font-size: 35px; }

  h2 {
    font-size: 25px;
    text-align: center; }

  h4 {
    font-size: 18px; }

  #educacion h4 {
    padding-left: 60px; }

  p {
    font-size: 14px; }

  #footer a {
    margin-left: 45%;
    padding-top: 30px; } }
@media (max-width: 350px) {
  .top-nav li {
    font-size: 11px;
    padding: 0 0px;
    margin-right: 1px;
    margin-top: 4px; }
    .top-nav li a {
      padding: 2px 5px; }

  .top-left h3 {
    font-size: 15px; }

  h1 {
    font-size: 28px; }

  h2 {
    font-size: 20px;
    text-align: center; }

  h4 {
    font-size: 15px; }

  p {
    font-size: 11px; }

  .formulario button {
    height: 40px;
    font-size: 12px; }

  #footer a {
    font-size: 10px; }

  .top-left, #sobre-mi, #skills, #educacion, #footer {
    padding: 30px 0px; } }

/*# sourceMappingURL=styles.css.map */
