@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(https://fonts.googleapis.com/css?family=Mada:400,900);

$base-principal-color: rgb(255, 255, 255);
$base-secondary-color: rgba(255, 96, 19, 0.8);
$base-background: rgba(191, 191, 191, 0.5);
$base-text-shadow: 2px 2px 4px black;
* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background: url(../images/bg-01.jpg) fixed;
}

img {
    max-width: 100%;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 i{
    color: $base-principal-color;
    font-family: Mada;
    text-shadow: $base-text-shadow;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 35px;
    padding-bottom: 40px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 25px;
}

p{
    color: $base-principal-color;
    line-height: 25px;
    text-shadow: 0 0 1px black;
}

a{
    text-decoration: none;
    color: white;
 }

a:hover{
    color: $base-secondary-color;
}

.cleaner{
    clear: both;
}

.main-header{
    background-color: $base-background;
}

.top-left{
    float: left;
    margin: 70px 0 70px 50px;
    line-height: 15px;
    text-decoration: none;
        h3{
    text-indent: 50px;
    }
        a{
     margin: 10px;
    }
        li{
    float: right;
    padding-right: 20px
  }
}

.top-right{
    float: right;;
    margin: 100px 50px 70px 0;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
}

.developer {
    color: $base-secondary-color;
    font-size: 60px;
    font-family: Quicksand;
    font-weight: 400;
    text-shadow: none;
}

.sobre-mi{
    padding: 100px 50px;
        p{
    text-align: justify;
    }
}

.bg-skills{
    background-color: $base-background;
}

.skills{
    padding: 100px 50px;
        i{
    color: $base-principal-color
    }
        div{
    padding-top: 10px;
    width: 25%;
    float: left;
    margin-bottom: 100px;
    text-align: center;
    }
}

.bg-education{
      background: url(../images/bg-code.jpg) fixed;

}
.educacion{
    padding: 100px 50px;
        h4{
    padding-left: 30px;
    }
        img{
    float: left;
    position: relative;
    top: 10px;
    }
        p{
    padding-left: 60px;
  }
}

.footer{
      background-color: $base-background;  padding: 100px 50px;
}

.formulario{
      width: 100%;
}

#left{
    width: 50%;
    float: left;
      input{
    margin: 0 2.5% 15px 2.5%;
    border: solid 1px grey;
    width: 95%;
    height: 50px;
    font-size: 13px;
    font-family: inherit;
    border-radius: 5px;
    padding-left: 10px;
  }
}

#right{
    width: 50%;
    float: right;
      input{
    margin: 0 2.5% 15px 2.5%;
    width: 95%;
    height: 115px;
    font-size: 13px;
    font-family: inherit;
    border-radius: 5px;
    padding-left: 10px;
  }
}

#contenedor-button{
    text-align: center;
}

.button-form{
    border: none;
    background-color: $base-secondary-color;
    width: 20%;
    height: 40px;
    color: $base-principal-color;
    font-family: inherit;
    font-size: 16px;
    text-transform: uppercase;
}

.fa-arrow-circle-up{
    float: right;
}

// ************************* //
////////// RESPONSIVE ////////

@media (max-width:1000px){
    .skills div{
      width: 50%;
    }
}

@media(max-width:750px){
    .top-right{
      display: none;
    }
}

@media(max-width:500px){
    .skills div{
      width: 100%;
      margin: 0px 0 30px 0;
  }
    h1{
      font-size: 30px;
  }
    h2{
      font-size: 20px;
  }

    .sobre-mi, .skills, .educacion, {
      padding: 30px 15px;
  }

    .footer{
      padding: 30px 15px 70px 15px;

    .fa-arrow-circle-up{
        font-size: 45px;
      }
  }

  .top-left{
    float: none;
    text-align: center;
    margin: 0px 5px 0px 5px;
    padding: 40px 0 50px 0;
    hr{
    width: 90%;
    }
     h3{
    text-indent: 15px;
    font-size: 18px;
    }
  }

  p{
    font-size: 14px;
  }

  h4{
    font-size: 16px;
  }

  #left{
    width: 100%;
    float: none;

  }
  #right{
    width: 100%;
    float: none;
  }

  .button-form{
    font-size: 12px;
  }

  .top-left ul li{
    border: solid 1px green;
    float: none;
    text-align: center;
  }
}
