@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);
@import url(normalize.css);

$base-principal-color: rgb(255, 255, 255);
$base-secondary-color: rgba(255, 96, 19, 0.8);
$base-background: rgba(191, 191, 191, 0.2);
$base-text-shadow: 2px 2px 4px black;


@mixin formulario{
    width: 50%;
    float: left;
    input{
    	display: block;
    	margin: auto;
    	margin-bottom: 20px;
    	border: solid 1px grey;
    	width: 95%;
    	height: 70px;
    	font-family: inherit;
    	border-radius: 5px;
    	padding-left: 10px;
	}
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
}

ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

figure{
    margin: 0;
}

h1, h2, h3, h4, h5, h6 i{
    color: $base-principal-color;
    text-shadow: $base-text-shadow;
}

h1{
    font-size: 45px;
}

h2{
    font-size: 35px;
    padding-bottom: 40px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 25px;
}

p{
    color: $base-principal-color;
    line-height: 25px;
    text-shadow: 0 0 2px black;
}

a{
    text-decoration: none;
    color: white;
 }

a:hover{
    color: $base-secondary-color;
}

.container{
	max-width: 1200px;
	margin: auto;
}

.cleaner{
	clear: both;
}

.bg-top{
	background: url(../images/bg-01.jpg)  center top no-repeat fixed;
	background-size: cover;
}

.main-header{
    background-color: $base-background ;
}

.top-left{
    float: left;
    padding: 100px 0;
    line-height: 15px;
    text-decoration: none;
	h3{
		text-indent: 50px;
	}
	a{
		margin: 10px;
	}
	li{
		float: right;
		padding-right: 20px
	}
}

.top-right{
    float: right;
    margin: 100px 20px ;
    border-radius: 50%;
    box-shadow: 0 0 10px grey;
}

.developer {
    color: $base-secondary-color;
    font-size: 60px;
    font-weight: 400;
    text-shadow: none;
}

.sobre-mi{
	margin: auto;
	padding: 100px 0px;
        p{
    	text-align: justify;
    }
}

.bg-center{
	background: url(../images/bg-02.jpg) center top no-repeat fixed;
	background-size: cover;
}

.skills{
    background-color: $base-background;
    padding: 100px 0px;
    margin: auto;
        .logos{
	    width: 25%;
	    float: left;
	    text-align: center;
    }
}

.educacion{
    	padding: 100px 0px;
        h4{
		padding-left: 30px;
    }
        img{
		float: left;
		position: relative;
		top: 10px;
    }
        p{
		padding-left: 60px;
	}
}

.bg-bottom{
	background: url(../images/bg-03.jpg) center top no-repeat fixed;
	background-size: cover;
}

.footer{
	background-color: $base-background;
	padding: 100px 0px;
}

.formulario{
    width: 100%;
}

#left{ @include formulario }

#right{ @include formulario;
	input{
		height: 160px;
		padding-bottom: 85px;
    }
}

.formulario button{
	display: block;
	margin: auto;
    border: none;
    background-color: $base-secondary-color;
    width: 20%;
    height: 50px;
    color: $base-principal-color;
    font-family: inherit;
    font-size: 16px;
    text-transform: uppercase;
}

.footer a{
    display: block;
  text-align: right;
}

/* RESPONSIVE */

@media (max-width:1250px){
    .container{
    	width: 95%;
    }
}

@media (max-width:1000px){
    .skills{
    .logos{
		width: 50%;
		padding: 10px;
    }
    }
}

@media(max-width:800px){
    .top-right{
    	display: none;
    }
}

@media(max-width:600px){
	.skills{
	.logos{
    	width: 100%;
	}
	}

	.top-left, .sobre-mi, .skills, .educacion, .footer{
    	padding: 50px 0px;
	}

	#left{
    	float: none;
    	width: auto;
	}

	#right{
    	float: none;
    	width: auto;
	}
}

@media (max-width:500px) {

	.top-left{
    	float: none;
    	text-align: center;

		hr{
    		width: 90%;
    	}

    	h3{
        	text-indent: 0;
        	font-size: 20px;
        }
    }

	h1{
        font-size: 35px;
    }

	h2{
		font-size: 25px;
		text-align: center;
	}

	h4{
		font-size: 18px;
	}

	.educacion{
		h4{
			padding-left: 60px;
		}
    }

	p{
		font-size: 14px;
    }

    .footer a{
		text-align: center;
		padding-top: 30px;
    }
}

@media (max-width:350px) {

	.top-left h3{
		font-size: 15px;
	}

	h1{
    	font-size: 28px;
	}

	h2{
		font-size: 20px;
		text-align: center;
	}

	h4{
		font-size: 15px;
	}

	p{
		font-size: 11px;
	}

	.formulario button{
		height: 40px;
		font-size: 12px;
	}

	.footer a{
		font-size: 10px;
	}

	.top-left, .sobre-mi, .skills, .educacion, .footer{
		padding: 30px 0px;
	}
}
